<div class="container">
  Datenschutzerklärung <br />
  <br />

  Kontaktinformationen<br />
  <br />

  Inhaber<br />
  <br />

  Leon Borlinghaus<br />
  Lindenstraße 75a<br />
  10969 Berlin<br />
  <br />

  E-Mail-Adresse: sterni.bingo@gmail.com<br />
  <br />

  Maßgebliche Rechtsgrundlagen<br />
  <br />

  Für jede Datenverarbeitungen teilen wir Ihnen die Rechtsgrundlage basierend
  auf Art. 13 DSGVO mit. Sofern wir die Rechtsgrundlage für eine Verarbeitung
  nicht genauer spezifizieren gilt folgendes: Die Rechtsgrundlage für das
  Einholen einer Einwilligung erfolgt auf Basis von Art. 6 Abs. 1 lit. a und
  Art. 7 DSGVO. Die Rechtsgrundlage für die Erfüllung unseres Vertrages sowie
  die Erbringung unserer Leistungen ist Art. 6 Abs. 1 lit. b DSGVO. Die
  Rechtsgrundlage für die Erfüllung rechtlicher Verpflichtungen ist Art. 6 Abs.
  1 lit. c DSGVO. Die Rechtsgrundlage für die Wahrung unserer berechtigten
  Interessen ist Art. 6 Abs. 1 lit. f DSGVO.<br />

  Widerruf<br />
  <br />

  Sie haben das Recht, jegliche erteilte Einwilligungen in die Datenverarbeitung
  für die Zukunft zu widerrufen. Grundlage hierfür ist Art. 7 Abs. 3 DSGVO. Ihre
  Rechte Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie
  betreffenden personenbezogenen Daten: Das Recht auf Auskunft, Das Recht auf
  Berichtigung oder Löschung ("Recht auf Vergessenwerden"), Das Recht auf
  Einschränkung der Verarbeitung, Das Recht auf Widerspruch gegen die
  Verarbeitung, Das Recht auf Datenübertragbarkeit, Das Recht, nicht einer
  ausschließlich auf einer automatisierten Verarbeitung – einschließlich
  Profiling – beruhenden Entscheidung unterworfen zu werden, die ihr gegenüber
  rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich
  beeinträchtigt. Sie haben zudem das Recht, sich bei einer
  Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen
  Daten durch uns zu beschweren. Sie können Ihre Rechte wahrnehmen über unserere
  E-Mail an:<br />
  <br />

  E-Mail: sterni.bingo@gmail.com<br />
  <br />

  Datenschutzbeauftragter<br />
  <br />

  Es besteht nach Art. 37 Abs. 1 DS-GVO, § 38 BDSG keine Pflicht zur Benennung
  eines Datenschutzbeauftragten. Wir haben derzeit auch keinen
  Datenschutzbeauftragten freiwillig benannt. Für Fragen rund um den Datenschutz
  wenden Sie sich bitte direkt an uns als verantwortliche Stelle.
  <br />
  <br />
  Cookies / Local Storage<br />
  <br />

  Wir setzen teilweise auf Cookies bzw. speichern Daten im 'Local Storage' Ihres
  Browsers. Wir setzen die Technologie ein um Sie beim nächsten Besuch unserer
  Webseite wiederzuerkennen. Die Rechtsgrundlage für diese Verarbeitung bildet
  Art. 6 Abs. 1 lit. f DSGVO (Berechtigtes Interesse). Sie können das Speichern
  von Cookies und das Speichern im 'Local Storage' verhindern, indem Sie die
  entsprechenden Einstellungen in Ihrem Browser vornehmen.
  <br />
  <br />
  Protokolldaten<br />
  <br />

  Wir setzen auf automatische Protokolldaten beim Abruf unserer Webseiten. Wir
  setzen die Technologie zur technischen Administration und zur Absicherung
  unserer Dienste ein. Die Rechtsgrundlage für diese Verarbeitung bildet Art. 6
  Abs. 1 lit. f DSGVO (Berechtigtes Interesse). Wir verarbeiten folgende mit
  dieser Technologie folgende Daten: Name der abgerufenen Webseite, Datum und
  Uhrzeit des Abrufs, Status Code der Antwort, Browsertyp und Version, Referrer
  URL (die zuvor besuchte Seite), Anonymisierte-IP-Adresse.
  <br />
  <br />

  Google Analytics<br />
  <br />

  Diese Website nutzt den Dienst „Google Analytics“, welcher von der Google Inc.
  (1600 Amphitheatre Parkway Mountain View, CA 94043, USA) angeboten wird, zur
  Analyse der Websitebenutzung durch Nutzer. Der Dienst verwendet „Cookies“ –
  Textdateien, welche auf Ihrem Endgerät gespeichert werden. Die durch die
  Cookies gesammelten Informationen werden im Regelfall an einen Google-Server
  in den USA gesandt und dort gespeichert. Auf dieser Website greift die
  IP-Anonymisierung. Die IP-Adresse der Nutzer wird innerhalb der
  Mitgliedsstaaten der EU und des Europäischen Wirtschaftsraum gekürzt. Durch
  diese Kürzung entfällt der Personenbezug Ihrer IP-Adresse. Im Rahmen der
  Vereinbarung zur Auftragsdatenvereinbarung, welche die Websitebetreiber mit
  der Google Inc. geschlossen haben, erstellt diese mithilfe der gesammelten
  Informationen eine Auswertung der Websitenutzung und der Websiteaktivität und
  erbringt mit der Internetnutzung verbundene Dienstleistungen. Sie haben die
  Möglichkeit, die Speicherung des Cookies auf Ihrem Gerät zu verhindern, indem
  Sie in Ihrem Browser entsprechende Einstellungen vornehmen. Es ist nicht
  gewährleistet, dass Sie auf alle Funktionen dieser Website ohne
  Einschränkungen zugreifen können, wenn Ihr Browser keine Cookies zulässt.
  Weiterhin können Sie durch ein Browser-Plugin verhindern, dass die durch
  Cookies gesammelten Informationen (inklusive Ihrer IP-Adresse) an die Google
  Inc. gesendet und von der Google Inc. genutzt werden. Folgender Link führt Sie
  zu dem entsprechenden Plugin: https://tools.google.com/dlpage/gaoptout?hl=de
  Hier finden Sie weitere Informationen zur Datennutzung durch die Google Inc.:
  https://support.google.com/analytics/answer/6004245?hl=de
  <br /><br />
  Google Tag Manager
  <br /><br />
  Datenschutzerklärung Für unsere Webseite verwenden wir den Google Tag Manager
  des Unternehmens Google Inc. (1600 Amphitheatre Parkway Mountain View, CA
  94043, USA). Dieser Tag Manager ist eines von vielen hilfreichen
  Marketing-Produkten von Google. Über den Google Tag Manager können wir
  Code-Abschnitte von diversen Trackingtools, die wir auf unserer Webseite
  verwenden, zentral einbauen und verwalten. In dieser Datenschutzerklärung
  wollen wir Ihnen genauer erklären was der Google Tag Manager macht, warum wir
  ihn verwenden und in welcher Form Daten verarbeitet werden. Was ist der Google
  Tag Manager? Der Google Tag Manager ist ein Organisationstool, mit dem wir
  Webseiten-Tags zentral und über eine Benutzeroberfläche einbinden und
  verwalten können. Als Tags bezeichnet man kleine Code-Abschnitte, die
  beispielsweise Ihre Aktivitäten auf unserer Webseite aufzeichnen (tracken).
  Dafür werden JavaScript-Code-Abschnitte in den Quelltext unserer Seite
  eingesetzt. Die Tags stammen oft von google-internen Produkten wie Google Ads
  oder Google Analytics, aber auch Tags von anderen Unternehmen können über den
  Manager eingebunden und verwaltet werden. Solche Tags übernehmen
  unterschiedliche Aufgaben. Sie können Browserdaten sammeln, Marketingtools mit
  Daten füttern, Buttons einbinden, Cookies setzen und auch Nutzer über mehrere
  Webseiten hinweg verfolgen. Warum verwenden wir den Google Tag Manager für
  unserer Webseite? Wie sagt man so schön: Organisation ist die halbe Miete! Und
  das betrifft natürlich auch die Pflege unserer Webseite. Um unsere Webseite
  für Sie und alle Menschen, die sich für unsere Produkte und Dienstleistungen
  interessieren, so gut wie möglich zu gestalten, brauchen wir diverse
  Trackingtools wie beispielsweise Google Analytics. Die erhobenen Daten dieser
  Tools zeigen uns, was Sie am meisten interessiert, wo wir unsere Leistungen
  verbessern können und welchen Menschen wir unsere Angebote noch zeigen
  sollten. Und damit dieses Tracking funktioniert, müssen wir entsprechende
  JavaScript-Codes in unsere Webseite einbinden. Grundsätzlich könnten wir jeden
  Code-Abschnitt der einzelnen Tracking-Tools separat in unseren Quelltext
  einbauen. Das erfordert allerdings relativ viel Zeit und man verliert leicht
  den Überblick. Darum nützen wir den Google Tag Manager. Wir können die nötigen
  Skripte einfach einbauen und von einem Ort aus verwalten. Zudem bietet der
  Google Tag Manager eine leicht zu bedienende Benutzeroberfläche und man
  benötigt keine Programmierkenntnisse. So schaffen wir es, Ordnung in unserem
  Tag-Dschungel zu halten. Welche Daten werden vom Google Tag Manager
  gespeichert? Der Tag Manager selbst ist eine Domain, die keine Cookies setzt
  und keine Daten speichert. Er fungiert als bloßer „Verwalter“ der
  implementierten Tags. Die Daten erfassen die einzelnen Tags der
  unterschiedlichen Web-Analysetools. Die Daten werden im Google Tag Manager
  quasi zu den einzelnen Tracking-Tools durchgeschleust und nicht gespeichert.
  Ganz anders sieht das allerdings mit den eingebundenen Tags der verschiedenen
  Web-Analysetools, wie zum Beispiel Google Analytics, aus. Je nach Analysetool
  werden meist mit Hilfe von Cookies verschiedenen Daten über Ihr Webverhalten
  gesammelt, gespeichert und verarbeitet. Dafür lesen Sie bitte unsere
  Datenschutztexte zu den einzelnen Analyse- und Trackingtools, die wir auf
  unserer Webseite verwenden. In den Kontoeinstellungen des Tag Managers haben
  wir Google erlaubt, dass Google anonymisierte Daten von uns erhält. Dabei
  handelt es sich aber nur um die Verwendung und Nutzung unseres Tag Managers
  und nicht um Ihre Daten, die über die Code-Abschnitte gespeichert werden. Wir
  ermöglichen Google und anderen, ausgewählte Daten in anonymisierter Form zu
  erhalten. Wir stimmen somit der anonymen Weitergabe unseren Website-Daten zu.
  Welche zusammengefassten und anonymen Daten genau weitergeleitet werden,
  konnten wir – trotz langer Recherche – nicht in Erfahrung bringen. Auf jeden
  Fall löscht Google dabei alle Infos, die unsere Webseite identifizieren
  könnten. Google fasst die Daten mit Hunderten anderen anonymen Webseiten-Daten
  zusammen und erstellt, im Rahmen von Benchmarking-Maßnahmen, Usertrends. Bei
  Benchmarking werden eigene Ergebnisse mit jenen der Mitbewerber verglichen.
  Auf Basis der erhobenen Informationen können Prozesse optimiert werden. Wie
  lange und wo werden die Daten gespeichert? Wenn Google Daten speichert, dann
  werden diese Daten auf den eigenen Google-Servern gespeichert. Die Server sind
  auf der ganzen Welt verteilt. Die meisten befinden sich in Amerika. Unter
  https://www.google.com/about/datacenters/inside/locations/?hl=de können Sie
  genau nachlesen, wo sich die Google-Server befinden. Wie lange die einzelnen
  Tracking-Tools Daten von Ihnen speichern, entnehmen Sie unseren individuellen
  Datenschutztexten zu den einzelnen Tools. Wie kann ich meine Daten löschen
  bzw. die Datenspeicherung verhindern? Der Google Tag Manager selbst setzt
  keine Cookies, sondern verwaltet Tags verschiedener Tracking-Webseiten. In
  unseren Datenschutztexten zu den einzelnen Tracking-Tools, finden Sie
  detaillierte Informationen wie Sie Ihre Daten löschen bzw. verwalten können.
  Google ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework, wodurch
  der korrekte und sichere Datentransfer persönlicher Daten geregelt wird. Mehr
  Informationen dazu finden Sie auf
  https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&tid=311141511.
  Wenn Sie mehr über den Google Tag Manager erfahren wollen, empfehlen wir Ihnen
  die FAQs unter https://www.google.com/intl/de/tagmanager/faq.html.
</div>
