<div class="container">
  Datenschutzerklärung <br />
  <br />

  Kontaktinformationen<br />
  <br />

  Inhaber<br />
  <br />

  Leon Borlinghaus<br />
  Lindenstraße 75a<br />
  10969 Berlin<br />
  <br />

  E-Mail-Adresse: sterni.bingo@gmail.com<br />
  <br />

  Maßgebliche Rechtsgrundlagen<br />
  <br />

  Für jede Datenverarbeitungen teilen wir Ihnen die Rechtsgrundlage basierend
  auf Art. 13 DSGVO mit. Sofern wir die Rechtsgrundlage für eine Verarbeitung
  nicht genauer spezifizieren gilt folgendes: Die Rechtsgrundlage für das
  Einholen einer Einwilligung erfolgt auf Basis von Art. 6 Abs. 1 lit. a und
  Art. 7 DSGVO. Die Rechtsgrundlage für die Erfüllung unseres Vertrages sowie
  die Erbringung unserer Leistungen ist Art. 6 Abs. 1 lit. b DSGVO. Die
  Rechtsgrundlage für die Erfüllung rechtlicher Verpflichtungen ist Art. 6 Abs.
  1 lit. c DSGVO. Die Rechtsgrundlage für die Wahrung unserer berechtigten
  Interessen ist Art. 6 Abs. 1 lit. f DSGVO.<br />
  <br />
  Widerruf<br />
  <br />

  Sie haben das Recht, jegliche erteilte Einwilligungen in die Datenverarbeitung
  für die Zukunft zu widerrufen. Grundlage hierfür ist Art. 7 Abs. 3 DSGVO. Ihre
  Rechte Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie
  betreffenden personenbezogenen Daten: Das Recht auf Auskunft, Das Recht auf
  Berichtigung oder Löschung ("Recht auf Vergessenwerden"), Das Recht auf
  Einschränkung der Verarbeitung, Das Recht auf Widerspruch gegen die
  Verarbeitung, Das Recht auf Datenübertragbarkeit, Das Recht, nicht einer
  ausschließlich auf einer automatisierten Verarbeitung – einschließlich
  Profiling – beruhenden Entscheidung unterworfen zu werden, die ihr gegenüber
  rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich
  beeinträchtigt. Sie haben zudem das Recht, sich bei einer
  Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen
  Daten durch uns zu beschweren. Sie können Ihre Rechte wahrnehmen über unserere
  E-Mail an:<br />
  <br />

  E-Mail: sterni.bingo@gmail.com<br />
  <br />

  Datenschutzbeauftragter<br />
  <br />

  Es besteht nach Art. 37 Abs. 1 DS-GVO, § 38 BDSG keine Pflicht zur Benennung
  eines Datenschutzbeauftragten. Wir haben derzeit auch keinen
  Datenschutzbeauftragten freiwillig benannt. Für Fragen rund um den Datenschutz
  wenden Sie sich bitte direkt an uns als verantwortliche Stelle.
  <br />
  <br />
  Cookies / Local Storage<br />
  <br />

  Wir setzen teilweise auf Cookies bzw. speichern Daten im 'Local Storage' Ihres
  Browsers. Wir setzen die Technologie ein um Sie beim nächsten Besuch unserer
  Webseite wiederzuerkennen. Die Rechtsgrundlage für diese Verarbeitung bildet
  Art. 6 Abs. 1 lit. f DSGVO (Berechtigtes Interesse). Sie können das Speichern
  von Cookies und das Speichern im 'Local Storage' verhindern, indem Sie die
  entsprechenden Einstellungen in Ihrem Browser vornehmen.
  <br />
  <br />
  Protokolldaten<br />
  <br />

  Wir setzen auf automatische Protokolldaten beim Abruf unserer Webseiten. Wir
  setzen die Technologie zur technischen Administration und zur Absicherung
  unserer Dienste ein. Die Rechtsgrundlage für diese Verarbeitung bildet Art. 6
  Abs. 1 lit. f DSGVO (Berechtigtes Interesse). Wir verarbeiten folgende mit
  dieser Technologie folgende Daten: Name der abgerufenen Webseite, Datum und
  Uhrzeit des Abrufs, Status Code der Antwort, Browsertyp und Version, Referrer
  URL (die zuvor besuchte Seite), Anonymisierte-IP-Adresse.
  <br />
  <br />

  Piwik PRO Analytics Suite <br />
  <br />

  <p>
    Wir verwenden die <strong>Piwik PRO Analytics Suite </strong>als unsere
    Website-/App-Analyticssoftware und verwalten damit auch Einwilligungen. Wir
    sammeln Daten über Website-Besucher mit
    <a
      href="https://help.piwik.pro/support/getting-started/cookies-created-by-piwik-pro/"
      >Cookies</a
    >. Die gesammelten Informationen umfassen beispielsweise die IP-Adresse des
    Besuchers, das Betriebssystem, die Browser-ID, die Browsing-Aktivität und
    andere Informationen. Sehen Sie sich den
    <a
      href="https://help.piwik.pro/support/getting-started/what-data-does-piwik-pro-collect/"
      >Umfang der von Piwik PRO erfassten Daten</a
    >
    an.
  </p>

  <p>
    Wir berechnen Metriken wie Absprungrate, Seitenaufrufe, Sessions und
    Ähnliches, um zu verstehen, wie unsere Website/App genutzt wird. Wir können
    auch Besucherprofile auf der Grundlage des Browserverlaufs erstellen und
    analysieren so das Besucherverhalten, zeigen personalisierte Inhalte an und
    führen Online-Kampagnen durch.
  </p>
  <p>
    Wir hosten unsere Lösung auf Microsoft Azure in Deutschland und speichern
    die Daten für 12 Monate.
  </p>
  <p>
    Zweck der Datenverarbeitung: Analytics und Conversion Tracking basierend auf
    Ihrer Einwilligung. Rechtsgrundlage: Art. 6 (1)(a) GDPR.
  </p>
  <p>
    Piwik PRO gibt die Daten über Sie nicht an andere Unterauftragsverarbeiter
    oder Dritte weiter und verwendet sie nicht für eigene Zwecke. Weitere
    Informationen finden Sie in
    <a href="https://piwik.pro/privacy-policy/#product" target="_blank"
      >der Datenschutzrichtlinie von Piwik PRO</a
    >.
  </p>
  <br /><br />
</div>
